
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yapılacaklar</h2>

<p><del>#1 Başlıklarda Arama Kutucuğu</del></p>
<p><del>#2 Yazar Görselleri düzenlenecek</del></p>
<p><del>#3 Grafikler Eklenecek</del></p>
<p><del>#4 Vitrin Teması Eklenecek</del></p>
<p><del>#5 Gelen kutusunda Arama</del></p>
<p>#6 Yetkilendirmeler</p>
<p><del>#7 Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del>#8 Sözlük ve vitrin ayrılavak</del></p>
<p><del>#9 Herhangi Bir Tablo Raporlanacak</del></p>
<p>#10 Proje Dosyaları Sunucuya Taşınacak</p>
<p>#11 Alan Adı Alınacak</p>
<p>#12 Proje Canlıya Taşınacak</p>
<p>#13 Url'de ID yerine isim gelsin</p>
<p><del>#14 IFrame Ekleme</del></p>
<p><del>#15 SweetAlert</del></p>
<p>#16 Admin Çıkış Yap</p>