
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yapılacaklar</h2>

<p>#1 Başlıklarda Arama Kutucuğu</p>
<p>#2 Yazar Görselleri düzenlenecek</p>
<p>#3 Grafikler Eklenecek</p>
<p>#4 Vitrin Teması Eklenecek</p>
<p>#5 Gelen kutusunda Arama</p>
<p>#6 Yetkilendirmeler</p>
<p>#7 Hata Sayfası Layouttan Ayrılacak</p>
<p>#8 Sözlük ve vitrin ayrılavak</p>
<p>#9 Herhangi Bir Tablo Raporlanacak</p>
<p>#10 Yetkilendirmeler</p>
<p>#11 Proje Dosyaları Sunucuya Taşınacak</p>
<p>#12 Alan Adı Alınacak</p>
<p>#13 Proje Canlıya Taşınacak</p>