
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yapılacaklar</h2>

<p><del>#1 Başlıklarda Arama Kutucuğu</del></p>
<p>#2 Yazar Görselleri düzenlenecek</p>
<p>#3 Grafikler Eklenecek</p>
<p><del>#4 Vitrin Teması Eklenecek</del></p>
<p><del>#5 Gelen kutusunda Arama</del></p>
<p>#6 Yetkilendirmeler</p>
<p><del>#7 Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del>#8 Sözlük ve vitrin ayrılavak</del></p>
<p>#9 Herhangi Bir Tablo Raporlanacak</p>
<p>#10 Yetkilendirmeler</p>
<p>#11 Proje Dosyaları Sunucuya Taşınacak</p>
<p>#12 Alan Adı Alınacak</p>
<p>#13 Proje Canlıya Taşınacak</p>